# compiled files
bin/*/*
obj/*

# if ur using WSL2
*.Identifier

# misc stuff (irrelevant)
assets/speccy_game
assets/speccy_game/*

# nds port
assets/NDS
assets/NDS/*

# psp port
*.SFO
*.elf

# wince port
# why is it detecting SUOs wtf
*.ncb
*.suo
*.out

# i use vscode
.vscode/

# nxdk is silly
src/*.d
src/*.obj
src/*/*.d
src/*/*.obj
src/*/*/*.d
src/*/*/*.obj
bin/*.xbe
*.iso